body {
    /*background: url('/assets/img/bg1.png');*/
    background-color: #FFF;
	padding-top: 60px;
}

a:focus {
	outline: 0;
}

.sidebar {
	padding: 8px 0;
}

.margin-bottom {
	margin-bottom: 10px !important;
}

/* CALENDAR */
/*
.ui-datepicker {
	width:100%;
	border: 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	border:0;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	border:0;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
	float:left;
	padding: 4px 10px;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	padding: 4px 10px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
}
.ui-datepicker .ui-datepicker-title {
	border:0;
	text-align: center;
	font-size: 16px;
}
.ui-datepicker table {
	padding:0;
	margin:0;
	border-collapse: collapse;
	margin:auto;
}
.ui-datepicker tr th, .ui-datepicker tr td {
	text-align: center;
	border: 1px #EEE solid;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: 20px 40px;
	text-align: center;
}

.ui-datepicker td span, .ui-datepicker td a:hover {
	text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a.ui-state-default {
	background-color: #FFF;
}

.ui-datepicker td span, .ui-datepicker td a.ui-state-unselectable {
	background-color: #EEE;
}

.ui-datepicker td span, .ui-datepicker td a.ui-state-unavailable {
	background-color: #000;
}

.ui-datepicker td span, .ui-datepicker th {
	padding: 10px 0;
	text-align: center;
	background-color: #EEE;
}
.ui-datepicker .ui-state-active {
	background-color: #CCC;
}

.ui-datepicker td.status1 a, .ui-datepicker td.status1 a:hover {
	background-color: #FFC800;
	color: #000;
}

.ui-datepicker td.status2 a, .ui-datepicker td.status2 a:hover {
	background-color: #E60000;
	color: #FFF;
}
*/

.ui-datepicker {
	border: 1px solid;
	display: none;
}

.ui-datepicker .ui-datepicker-header {
	border:0
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	border:0;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
	float:left;
	margin-left: 4px;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	margin-right: 4px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
	color: #999;
	font-size: 11px;
}
.ui-datepicker .ui-datepicker-title {
	border:0;
	text-align: center;
	clear: both
}
.ui-datepicker table {
	background-color:#FFF;
	width:140px;
	padding:0;
	margin:0;
	font-size: 11px;
	border-collapse: collapse;
	margin:auto;
}
.ui-datepicker tr th, .ui-datepicker tr td {
	padding-left:1px !important;
	padding-right:1px !important;
	text-align: center;
	margin: 4px !important;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: 1px 2px;
	text-align: center;
	text-decoration: none;
	color: #333;
}

.ui-datepicker td span, .ui-datepicker td span {
	color: #CCC;
}

.ui-datepicker .ui-state-active {
	background-color: #CCC;
}




#geocoded_map {
	width: 550px;
	height: 250px;
}