body {
    background-color: #FFF;
	color: #333333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-image:url('/assets/img/bg2.jpg');
	background-repeat:no-repeat;
	background-position:center top; 
}

@font-face {
    font-family: 'DINEngschriftRegular';
    src: url('din/dine____-webfont.eot');
    src: url('din/dine____-webfont.eot?#iefix') format('embedded-opentype'),
         url('din/dine____-webfont.woff') format('woff'),
         url('din/dine____-webfont.ttf') format('truetype'),
         url('din/dine____-webfont.svg#DINEngschriftRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINMittelschriftRegular';
    src: url('din/dinm____-webfont.eot');
    src: url('din/dinm____-webfont.eot?#iefix') format('embedded-opentype'),
         url('din/dinm____-webfont.woff') format('woff'),
         url('din/dinm____-webfont.ttf') format('truetype'),
         url('din/dinm____-webfont.svg#DINMittelschriftRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINMitAltRegular';
    src: url('din/dinma___-webfont.eot');
    src: url('din/dinma___-webfont.eot?#iefix') format('embedded-opentype'),
         url('din/dinma___-webfont.woff') format('woff'),
         url('din/dinma___-webfont.ttf') format('truetype'),
         url('din/dinma___-webfont.svg#DINMitAltRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
	outline: none;
}
.bigger {
	font-size: 16px;
	color: #666;
	font-weight: bold;
}

.pull-right {
	float: right;
}

#header, #content, #footer {
	/*
	border: 1px #CCC solid;
	margin: 4px;
	padding: 4px;
	*/
}

.inner {
	width: 900px;
	margin: auto;
	padding: 6px;
}

#home {
	background-color: #5393FD;
	margin-left: 40px;
	padding: 2px 10px;
	position: absolute;
	display: none;
	
}

/* HEADER */

#header {
	/*background-color: #161C23;*/
	background: url('/assets/img/header_bg.jpg');
	border-bottom: 5px #5393FD solid;
	top: 0;
	width: 100%;

}

#header .inner {
	padding: 0;
	margin-bottom: 2px;
}

#header div.logo {
}

#header div.nav {
	text-align: right;
}

#header ol li {
	display: inline-block;
	padding: 0 5px;
}

#header ol li.spacer {
	width: 7px;
}

#header ol li.list {
	margin-left: 10px;
	background: url('/assets/img/list_button_bg.jpg');
	padding: 24px 10px;
}

#header ol li.lang div.options {

}


#header ol li.list a {
	color: #FFF;
	cursor: pointer;
}

#header ol li a {
	text-transform: uppercase;
	color: #92ABC7;
	text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
	/*
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	*/
	font-style: normal;


    font-family: "DINEngschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

#header ol li a:hover {
	color: #FFF;
}

/* FOOTER */

#footer {
	background-color: #252D37;
	margin-top: 20px;
	padding: 4px;
}

#footer .inner {
	text-align: center;
}

#footer ol li {
	display: inline-block;
	margin: 0 15px;
}

#footer ol li a {
	text-transform: uppercase;
	font-family: "DINEngschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	color: #9FB4D2;
	text-decoration: none;
}

#footer ol li a:hover {
	color: #FFF;
}

#footer .address {
	text-align: center;
	color: #9FB4D2;
	font-size: 11px;
	border-top: 1px #1C232A solid;
	width: 900px;
	margin: auto;
	padding: 4px;
}

/* CONTENT */

#content {
	margin-top: 30px;
}

#content div.inner {
	background-color: #FFF;
	margin: 10px auto;
	box-shadow:0 0 15px #CCC;
	min-height: 450px;
}

#content .page-title {
	font-size: 28px;
	font-family: "DINEngschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	margin: 40px 60px;
	color: #ff9c00;
	border-bottom: 3px #ff9c00 solid;
	line-height: 32px;
}	


#content .page-content {
	margin: 20px 60px;
	line-height: 22px;
	color: #666;
	font-size: 16px;
}

#content h1 {
	font-size: 28px;
	font-family: "DINEngschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #5393FD;
	text-transform: uppercase;
}

#content h2 {
	font-size: 18px;
	font-family: "DINEngschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	text-transform: uppercase;
}

#content strong {
	font-weight: bold;
}

/* HOME */

.city-selection {
	display: table;
    margin: 10px auto auto;
}

.city-selection div.city {
	cursor: pointer;
	width: 427px;
	height: 394px;
	float: left;
}

.city-selection div.santiago-chile {
	background: url('/assets/img/S4R-santiago-landing.jpg');
	margin-left: 20px;
}

.city-selection div.sanpablo-brasil {
	background: url('/assets/img/S4R-sanpablo-landing.jpg');
}

.home-featured {
	background-color: #000;
	width: 900px;
	height: 300px;
}

.home-featured .ribbon{
	background-repeat: no-repeat;
	width: 165px;
	height: 167px;
	position: absolute;
	z-index: 999;
	margin-left: -3px;
	margin-top: -4px;
}

.home-featured .arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 1;
	text-indent: -99999px;
	cursor: pointer;
	margin-top: 268px;
}

.home-featured .arrow.prev {
	background-image:url('/assets/img/slider-prev.png');
	margin-left: 2px;	
}

.home-featured .arrow.next {
	background-image:url('/assets/img/slider-next.png');
	margin-left: 32px;
}

.home-featured .property {
	width: 900px;
	height: 300px;
	position: absolute;
	display: none;
	cursor: pointer;
}

.home-featured .property div.info {
	padding: 20px;
	width: 350px;

	margin-top: 30px;
	margin-left: 480px;
	color: #FFF;
	background-image:url('/assets/img/info-bg.png');
}

.home-featured .property div.info h1 {
	font-size: 22px;
	font-family: "DINEngschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #ff9c00 !important;
	text-transform: uppercase;
	padding: 8px;
}

.home-featured .property div.info p {
	font-family: "DINEngschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 8px;
	font-size: 18px;
}

.search-box {
	background-color: #1d2632;
	background: url('/assets/img/bg_search.jpg');
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 100%;
	padding: 20px 0;
	
}

.search-box div.title {
	text-align: center;
	width: 300px;
	cursor: pointer;
}

.search-box div.title:hover {
	color: #CCC;
}

.search-box div.title span {
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px;
	background: url('/assets/img/arrows_search.png') center right no-repeat;
	padding-right: 80px;
}

.search-box div.fields {
	display: block;
}

.search-box div.fields li.arrow  {
	/* background: url('/assets/img/icon-arrow.png') 90% center no-repeat; */
}

.search-box div.fields li.calendar  {
	background: url('/assets/img/icon-calendar.png') 90% center no-repeat;
}

.search-box div.fields ul {
	padding: 0;
	margin: 0;
}

.search-box div.fields li {
	display: inline-block;
	cursor: pointer;

	font-size: 11px;
	padding: 0px 4px;
	line-height: 32px;
	margin: -2px;
}

.search-box div.fields li.param {
	background-color: #FFF;
	color: #9BB5D2;
	/*padding-right: 30px !important;*/
	-webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);	
}

.search-box div.fields li.param select, .search-box div.fields li.param input {
	background: transparent !important;
	-moz-appearance: window;
	-webkit-appearance: none;
	appearance: none;
	color: #333;
	font-weight: bold;
	font-size: 11px;
	border: 0;
	cursor: pointer;
	padding: 5px 8px;
}

.search-box div.fields li.param input {
	padding-right:30px;
}

.search-box div.fields li.param select option {
	text-align: left;
	font-weight: normal;
	text-transform:capitalize;
}

.search-box div.fields li.param select:focus, .search-box div.fields li.param input:focus {
	outline:none;
}

.search-box div.fields li.param input::-webkit-input-placeholder {
	color: #333;
}
.search-box div.fields li.param input:-moz-placeholder {
	color: #333;
}
.search-box div.fields li.param input:-ms-input-placeholder {
	color: #333;
}

.search-box div.fields li.param:hover {
	background-color: #EEE;
}

.search-box div.fields li.neighborhood {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.search-box div.fields li.neighborhood select {
	/*max-width: 130px !important;*/
}

.search-box div.fields li.check-in input {
	width: 73px;
}

.search-box div.fields li.check-out input {
	width: 73px;
}

.search-box div.fields li.rooms select {
	/*max-width: 125px !important;*/
}

.search-box div.fields li.search {
	background: url('/assets/img/icon-search.png') center center no-repeat;
	background-color: #7FAFFE;
	text-indent: -99999px;
	width: 30px;
	color: #FFF;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.home-boxes {
	background: url('/assets/img/home-boxes-bg.png');
	background-color: #FFF;
	padding-bottom: 20px !important;
}

.home-boxes .row div {
	height: 272px;
	width: 300px;
	text-align: center;
	vertical-align: bottom !important;
	cursor: pointer;
}

.home-boxes .row div:hover {
	transition: height 0.6s ease-in-out, background-color 0.6s;
}

.home-boxes .row div.why {
	background: url('/assets/img/home-why.png');
}

.home-boxes .row div.why p {
	border-left: 0 #ff9c00 solid;
}

.home-boxes .row div.list {
	background: url('/assets/img/home-list.png');
}

.home-boxes .row div.cityguide {
	background: url('/assets/img/home-cityguide.png');
}

.home-boxes .row div.cityguide p {
	border-right: 0 #ff9c00 solid;
}

.home-boxes .row div.contact-us {
	background: url('/assets/img/contact_us_homepage_box.png') no-repeat center center;
}

.home-boxes .row div.contact-us p {
	border-right: 0 #ff9c00 solid;
}

.home-boxes .row div p {
	color: #7391be;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-family: "DINMittelschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom: 12px;
	display: block;
	border-left: 1px #ff9c00 solid;
	border-right: 1px #ff9c00 solid;
	padding: 10px 0px;
}

.home-boxes .row div:hover p {
	color: #333;
}

.home-news {
	padding: 10px;
	display: none;
	height: 140px;
	background: url('/assets/img/news.jpg') no-repeat center center;
	background-color: #DFDFDF;
	text-align: center;
}

.home-news p {
	color: #000;
	text-transform: uppercase;
	margin: auto;
	text-align: center !important;
	background-color: #DFDFDF;
	font-size: 22px;
	font-weight: bold;
	padding: 8px 10px;
	margin-top: 0;
	position: absolute;
	display: inline-block;
}

.home-press {
	text-align: center;
}


/* COMMON */

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.super-rounded {
	
}

.shadow-inner {
	-moz-box-shadow:    inset 0 0 5px #222;
	-webkit-box-shadow: inset 0 0 5px #222;
	box-shadow:         inset 0 0 5px #222;
}

.shadow-outer {
	box-shadow:0 0 15px #666;
}

.text-shadow {
	text-shadow: #222 1px 1px 1px;
}

.message {
	background-color: #EEE;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}

.table {
	display:table;
	margin: auto;
}

.table .row {
	display:table-row;
}

.table .row div.col {
	display:table-cell;
	vertical-align: middle;
}

/* FORMS */

.form {
	width: 400px;
}
.form .row-form {
	padding: 5px 0px;
}

.form input[type='text'] {
	font-size: 14px;
	padding: 8px 4px;
	width: 350px;
	border: 1px #CCC solid;
	-moz-box-shadow:    inset 0 0 10px #ccc;
	-webkit-box-shadow: inset 0 0 10px #ccc;
	box-shadow:         inset 0 0 10px #ccc;
}

.form select {
	font-size: 14px;
	padding: 8px 4px;
	border: 1px #CCC solid;
	-moz-box-shadow:    inset 0 0 10px #ccc;
	-webkit-box-shadow: inset 0 0 10px #ccc;
	box-shadow:         inset 0 0 10px #ccc;
}

.form textarea {
	font-size: 14px;
	padding: 8px 4px;
	width: 350px;
	height: 100px;
	border: 1px #CCC solid;
	-moz-box-shadow:    inset 0 0 10px #ccc;
	-webkit-box-shadow: inset 0 0 10px #ccc;
	box-shadow:         inset 0 0 10px #ccc;
}

.form button {
	font-size: 14px;
	padding: 8px 12px;
}

/* CALENDAR */
.ui-datepicker {
	width:140px;
	border: 1px #CCC solid;
	background-color:#FFF;
	display: none;
	padding: 4px;
}
.ui-datepicker .ui-datepicker-header {
	border:0
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	border:0;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
	float:left;
	margin-left: 4px;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	margin-right: 4px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
	color: #999;
	font-size: 11px;
}
.ui-datepicker .ui-datepicker-title {
	border:0;
	text-align: center;
	clear: both
}
.ui-datepicker table {
	background-color:#FFF;
	width:140px;
	padding:0;
	margin:0;
	font-size: 11px;
	border-collapse: collapse;
	margin:auto;
}
.ui-datepicker tr th, .ui-datepicker tr td {
	padding-left:1px !important;
	padding-right:1px !important;
	text-align: center;
	margin: 4px !important;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: 1px 2px;
	text-align: center;
	text-decoration: none;
	color: #333;
}

.ui-datepicker td span, .ui-datepicker td span {
	color: #CCC;
}

.ui-datepicker .ui-state-active {
	background-color: #CCC;
}

/* PROPERTY */

.property-information {
	background: #131921; /* Old browsers */
	background: -moz-linear-gradient(top,  #131921 0%, #253140 43%, #253140 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#131921), color-stop(43%,#253140), color-stop(100%,#253140)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #131921 0%,#253140 43%,#253140 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #131921 0%,#253140 43%,#253140 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #131921 0%,#253140 43%,#253140 100%); /* IE10+ */
	background: linear-gradient(top,  #131921 0%,#253140 43%,#253140 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131921', endColorstr='#253140',GradientType=0 ); /* IE6-9 */

	padding: 12px;
	min-height: 400px;
}

.property-information .nav {
	color: #9FB3D1;
	font-size: 18px;
	text-align: right;
	text-transform: uppercase;
	padding: 10px;
	font-family: "DINEngschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
	float: right;
}

.property-information h1 {
	margin: 10px 0;
	color: #ff9c00 !important;
	font-family: "DINEngschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.property-information h2 {
	margin: 10px 0;
	color: #FFF !important;
	font-family: "DINMittelschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.property-information .nav span {
	padding: 4px 10px;
	cursor: pointer;
}

.property-information .nav span:hover {
	color: #FFF;
}

.property-information .nav span.currency_rs, .property-information .nav span.currency_usd {
	/*display:none;*/
	background-color: #000;
}

.currency_convert_usd {
	display: none;
}

.property-information .data {
	width: 100%;
}

.property-information .data .left {
	width: 550px;
	vertical-align: top !important;
}

.property-information .data .right {
	color: #FFF;
	vertical-align: top !important;
}

.property-information .data .right .title {
	background-color: #5393FD;
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
}

.property-information .data .right ul li {
	padding: 5px 10px;
	font-size: 14px;
}

.property-information .data .right ul li.alter {
	background-color: #1D2734;
}

.property-information .data .right a.reserve {
	cursor: pointer;
	margin: 10px auto;
	padding: 10px 20px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	width: 150px;
	display: block;
	text-decoration: none;
	background: rgb(44,82,162);
	background: -moz-linear-gradient(top,  rgb(44,82,162) 2%, rgb(83,147,253) 57%, rgb(83,147,253) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(44,82,162)), color-stop(57%,rgb(83,147,253)), color-stop(100%,rgb(83,147,253)));
	background: -webkit-linear-gradient(top,  rgb(44,82,162) 2%,rgb(83,147,253) 57%,rgb(83,147,253) 100%);
	background: -o-linear-gradient(top,  rgb(44,82,162) 2%,rgb(83,147,253) 57%,rgb(83,147,253) 100%);
	background: -ms-linear-gradient(top,  rgb(44,82,162) 2%,rgb(83,147,253) 57%,rgb(83,147,253) 100%);
	background: linear-gradient(top,  rgb(44,82,162) 2%,rgb(83,147,253) 57%,rgb(83,147,253) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c52a2', endColorstr='#5393fd',GradientType=0 );
}

.property-information #calendar, .property-information #map {
	display: none;
}

#map {
	width: 536px;
	height: 345px;
}

.property-information #photos .thumbs ul li {
	display: inline;
	cursor: pointer;
}

.property-description {
	background-color: #DCDDDF;
	padding: 12px;
}

.property-description .title {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5393FD;
	margin: 5px;
}

.property-description .content {
	color: #333;
	margin: 5px;
}


.property-features {
	/*background-color: #D2D3D6;*/
	background-color: #FFF;
	padding: 12px;
}

.property-features .title {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5393FD;
	margin: 5px;
}

.property-features .content {
	color: #333;
	margin: 2px;
}

.property-features ul li {
	padding: 2px 10px;
	display: inline-block;
	margin: 5px;
	width: 140px;
	font-size: 11px;
}

.property-calendar, .property-photos, .property-map {

}

.property-calendar .info {
	color: #FFF;
}

.property-calendar .info div {
	padding: 4px 8px;
	display: inline;
	font-size: 10px;
}	

.property-calendar .info div.available {
	background-color: #FFF;
	color: #666	;
}

.property-calendar .info div.hold {
	background-color: #FFC800;
	color: #000;
}

.property-calendar .info div.unavailable {
	background-color: #E60000;
	color: #FFF;
}

.property-photos .full .arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 1;
	text-indent: -99999px;
	cursor: pointer;
	margin-top: 312px;
}

.property-photos .full .arrow.prev {
	background-image:url('/assets/img/slider-prev.png');
	margin-left: 2px;	
}

.property-photos .full .arrow.next {
	background-image:url('/assets/img/slider-next.png');
	margin-left: 32px;
}

/* property calendar*/

#calendar .render {
	height: 400px;
}

#calendar .ui-datepicker {
	width:536px;
	height: 345px;
	display: none;
	padding: 0;
	margin: 0;
	border: 0;
	/*background-color: #1D2734;*/
	background-color: transparent;
	display: block;
}

#calendar .ui-datepicker .ui-datepicker-header {
	background-color: #5393FD;
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
}

#calendar .ui-datepicker .ui-datepicker-prev, #calendar .ui-datepicker .ui-datepicker-next {
	border:0;
	cursor: pointer;
}

#calendar .ui-datepicker .ui-datepicker-prev {
	float:left;
}

#calendar .ui-datepicker .ui-datepicker-next {
	float: right;
}

#calendar .ui-datepicker .ui-datepicker-prev span, #calendar .ui-datepicker .ui-datepicker-next span {
	display: block;
	color: #fff;
}

#calendar .ui-datepicker .ui-datepicker-title {
	border:0;
	text-align: center;
	clear: none;
	color: #FFF;
}

#calendar .ui-datepicker table {
	padding:0;
	margin:0;
	border-collapse: collapse;
	margin:auto;
	width: 100%;
}

#calendar .ui-datepicker tr {
	border: 0;
	margin: 0;
}

#calendar .ui-datepicker tr th {
	text-align: center;
	padding: 6px 0;
	border: 1px #EEE solid;
	background-color: #ccc;
}

#calendar .ui-datepicker tr td {
	text-align: center;
	padding: 16px 0;
	background-color: #FFF;
	border: 1px #EEE solid;
	font-size: 14px;
}

#calendar .ui-datepicker tr td a.ui-state-default, #calendar .ui-datepicker tr td a.ui-state-active, #calendar .ui-datepicker tr td a.ui-state-hover  {
	background-color: transparent;
}

#calendar .ui-datepicker td.holiday a, #calendar .ui-datepicker td.holiday a:hover {
	background: none #FFEBAF;
}

#calendar .ui-datepicker-unselectable span {
	color: #ccc;
}

#calendar .ui-datepicker td a.ui-state-default {
	color: #333;
}

/* status */
#calendar .ui-datepicker td.status1 {
	background-color: #FFC800 !important;
}

#calendar .ui-datepicker td.status1 a, #calendar .ui-datepicker td.status1 a:hover, #calendar .ui-datepicker td.status1 span  {
	color: #000 !important;
}

#calendar .ui-datepicker td.status2 {
	background-color: #E60000 !important;
}

#calendar .ui-datepicker td.status2 a, #calendar .ui-datepicker td.status2 a:hover, #calendar .ui-datepicker td.status2 span {
	color: #FFF !important;
}

/* search results */

.search-results {
	width: 100%;
}

.search-results .properties {

}

.search-results .properties .table {
	width: 100%;
}

.search-results .properties .property {
	width: 100% !important;
	margin-bottom: 20px;
	cursor: pointer !important;
}

.search-results .properties .property:hover {
	background-color: #EEE;
}

.search-results .properties .property .description {
	padding: 8px;
}

.search-results .properties .property .description a {
	text-decoration: none;
	font-size: 20px;
	color: #333;
	font-family: "DINMittelschriftRegular", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.search-results .properties .property .description ol li {
	font-size: 12px;
	color: #666;
}

.search-results .properties .property .description ol li span {
	width: 100px !important;
	display: inline-block;
	font-weight: bold;
}

#search_map {
	width: 250px;
	height: 385px !important;
	background-color: #FFF;
	border: 1px #ccc solid;
	
}

.highlight-box {
	padding: 10px;
	text-align: center;
	background-color: #f0fbd2;
	border: 1px #e5deb7 solid;
	margin-bottom: 20px;
}

.small {
	font-size: 11px;
	color: #999;
}

.yellow-box {
	background-color: #ff9c00;
	font-size: 12px;
	padding: 4px 10px;
	display: inline;
	text-decoration: none;
	color: #FFF !important;
}

body.welcome-index .bg3, body.properties-search .bg3, body.properties-view .bg3, body.welcome-homepage .bg3  {
	background: url('');
}

.back {
	text-decoration: none;
	color: #FFF;
}

.pagination a {
	padding: 4px 10px;
	color: #222;
	background-color: #EEE;
	text-decoration: none;
	font-size: 11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.pagination strong {
	padding: 4px 10px;
	color: #FFF;
	background-color: #5393FD;
	text-decoration: none;
	font-size: 11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.col div.sort {
	padding: 4px;
	font-size: 12px;
	margin-bottom: 10px;
	display: block;
	text-align: right;
	margin-bottom: 30px;
}

div.col div.sort select {
	padding: 4px !important;
}